html,body{ 
    height: 100%; /* min-height: 360px; */ 
    width: 100%; min-width: 360px;
    padding: 0; margin: 0; 
    background: #333; color: #fff;
}

#test-div{
    width: 90%; height: 40px; display: block; margin: 20px auto;
    text-align: center; line-height: 40px; text-shadow: 1px 1px 2px #000; 
    box-shadow: 0 0 10px 1px #07f; border: solid 1px #fff; font-size: 16px;
}

#test-div:before{ content: '[INIT]'; }

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* <= 360px */ 
@media only screen and (max-width: 360px){ 
    #test-div:before{ content: '[0] : [L] : [ <= 360px]'; }
    .main-body-block-box{ width: 98% !important;  }
    .main-body-block-body{ background: #7F0; }
    #main-wrapper-header-menu-horizontal-wrapper{ display: none; }
    #main-wrapper-header-menu-vertical-wrapper{ display: block; }
    .main-wrapper-header-menu-vertical-item{ background: #F70 !important;  }
}

/* 361px - 480px */
@media only screen and (min-width: 361px) and (max-width: 480px){
    #test-div:before{ content: '[1] : [L] : [ 361px - 480px ]'; }
    .main-body-block-box{  width: 98% !important; }
    .main-body-block-body{ background: #F07; }
    #main-wrapper-header-menu-horizontal-wrapper{ display: none; }
    #main-wrapper-header-menu-vertical-wrapper{ display: block; }
    .main-wrapper-header-menu-vertical-item{ background: #7F0 !important;  }
}

/* 481px - 640px */
@media only screen and (min-width: 481px) and (max-width: 640px){
    #test-div:before{ content: '[2] : [L] : [ 481px - 640px ]'; }
    .main-body-block-box{  width: 44% !important; }
    .main-body-block-body{ background: #7F0; }
    #main-wrapper-header-menu-horizontal-wrapper{ display: none; }
    #main-wrapper-header-menu-vertical-wrapper{ display: block; }
    .main-wrapper-header-menu-vertical-item{ background: #070 !important;  }
}

/* 641px - 768px */ /* [ 13.4% - 768  x 1024 ] */
@media only screen and (min-width: 641px) and (max-width: 768px){
    #test-div:before{ content: '[3] : [L] : [ 641px - 768px ]'; }
    .main-body-block-box{  width: 44% !important; }
    .main-body-block-body{ background: #07F; }
    #main-wrapper-header-menu-horizontal-wrapper{ display: none; }
    #main-wrapper-header-menu-vertical-wrapper{ display: block; }
    .main-wrapper-header-menu-vertical-item{ background: #F07 !important;  }
}

/* 769px - 1024px */ /* [ 3.2%  - 1024 x 768  ] */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    #test-div:before{ content: '[4] : [L] : [ 769px - 1024px ]'; }
    .main-body-block-box{  width: 31% !important; }
    .main-body-block-body{ background: #F70; }
    #main-wrapper-header-menu-horizontal-wrapper{ display: block; }
    #main-wrapper-header-menu-vertical-wrapper{ display: none; }
    .main-wrapper-header-menu-vertical-item{ background: #F70 !important;  }
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#main-wrapper{
    float: left; width: 100%; min-height: 100px; text-align: center; background: #000; 
    border-top: border 1px #fff;
}

#main-wrapper-header{
    max-width: 800px; min-height: 58px; display: block; width: 100%; background: #eee; margin: 5px auto;
    padding: 10px; box-sizing: border-box; color: #000;
}

#main-wrapper-body{
    max-width: 800px; min-height: 200px; display: block; width: 100%; background: #eee; margin: 5px auto;
    padding: 10px; box-sizing: border-box;
}

#main-wrapper-footer{
    max-width: 800px; min-height: 100px; display: block; width: 100%; background: #eee; margin: 5px auto;
    padding: 10px; box-sizing: border-box; color: #000;
}

/* -------------------------------------------------------------- */
.main-body-block-box{
    width: 40%; min-height: 140px; box-shadow: 0 0 10px #000; margin: 5px;  
    display: inline-block;
}

.main-body-block-title{
    width: 100%; min-height: 32px; line-height: 32px; border-bottom: dashed 1px #000;
    background: #333; text-shadow: 1px 1px 2px #000; color: #FFF;
}

.main-body-block-body{
    width: 100%; text-shadow: 1px 1px 2px #000; color: #FFF;
    padding: 10px; box-sizing: border-box; max-height: 174px;
    overflow: hidden; overflow-y: scroll;

    /*
    text-overflow: ellipsis; white-space: nowrap; 
    */

}

*{
    text-shadow: 1px 1px 1px #000;
}

.main-body-block-footer{
    width: 100%; min-height: 32px; line-height: 32px; border-bottom: dashed 1px #000;
    background: #333; text-shadow: 1px 1px 2px #000; color: #FFF;
}

/* -------------------------------------------------------------- */
/* MENU - H */
#main-wrapper-header-menu-horizontal-wrapper{
    height: 48px; overflow: hidden;
    width: 100%; box-sizing: border-box; background: #00F; 

}

.main-wrapper-header-menu-horizontal-item{
    height: 48px; line-height: 48px; text-align: center; background: #333; color: #fff; 
    display: inline-block; box-sizing: border-box; padding: 0 10px; margin-bottom: 2px;
}

/* MENU - V */
#main-wrapper-header-menu-vertical-wrapper{
    position: absolute; overflow: hidden; box-sizing: border-box;
    max-width: 320px; min-width: 120px; padding: 0 0 1px 0; 
    height: 48px; min-height: 48px;
    /*box-shadow: 0 0 10px #000; */
}

#main-wrapper-header-menu-vertical-wrapper:hover { cursor: pointer; box-shadow: 0 0 10px #000 !important; height: auto;  }
#main-wrapper-header-menu-vertical-wrapper:hover > #main-wrapper-header-menu-vertical-icon{
    background: url('../images/mobile-menu-icon.png') no-repeat;
    background: url('../images/show-menu-icon.png') no-repeat;
    background-size: 48px 48px; padding: 48px 0 0 0;    
    
}

#main-wrapper-header-menu-vertical-wrapper:hover > #main-wrapper-header-menu-vertical-content-box{ height: auto;  }

#main-wrapper-header-menu-vertical-wrapper:hover > #main-wrapper-header-menu-vertical-icon-label{
    color: #07F; text-shadow: 1px 1px 1px #555; margin-left: 85px;
}

.main-wrapper-header-menu-vertical-item{
    transition: all 0.3s;
    width: 100%; padding: 0 10px; height: 42px; line-height: 42px; background: #07F; color: #FFF; 
    display: inline-block; border-top: solid 1px #fff; box-sizing: border-box;
    text-align: left; font-size: 18px; text-shadow: 1px 1px 1px #000;

}

.main-wrapper-header-menu-vertical-item:hover{
    cursor: pointer; margin-left: 10px;
}

/* -------------------------------------------------------------- */
#main-wrapper-header-menu-vertical-icon{
    width: 100%; height: 0px; display: block; margin: 0 0 0 8px;
    background: url('../images/mobile-menu-icon.png') no-repeat;
    background: url('../images/android-style-menu.png') no-repeat;
    background: url('../images/show-menu-icon.png') no-repeat;
    background: url('../images/taxes-menu-icon.png') no-repeat;
    background-size: 48px 48px; padding: 48px 0 0 0;    

}

#main-wrapper-header-menu-vertical-icon-label{
    
    transition: all 0.3s; position: absolute; 
    margin-left: 64px; font-size: 32px; line-height: 44px; color: #000;
    color: #020; text-shadow: 1px 1px 1px #999; padding: 0 10px;
}

/* -------------------------------------------------------------- */
#main-wrapper-header-menu-content-box{
    background: #000; 
}

/* -------------------------------------------------------------- */


